<% @posts.each do |post| %>

  <h2><%= post.title %></h2>
  <% if post.type.name == 'URL' %>
  <%= link_to post.content, post.content %>
  <% end %>
  <br>
  <span>Type : <%= post.type.name %></span>
  <% if post.user && post.user.name %>
   | <span class="pull-right">Author : <%= post.user.name %></span>
  <% end %>

  <% if current_user == post.user && !current_user.nil? %>
  <%= link_to 'Show', post %> |
  <%= link_to 'Edit', edit_post_path(post) %> |
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
<% end %>
